<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookSellingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookSellingApp.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #edf2f8">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">

            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">BookSellingApp</a>

                <button class="navbar-toggler btn btn-close-white dropdownmenu.dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="nav-link text-white px-1" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:27px;height:27px;" src="https://cdn-icons-png.flaticon.com/512/1057/1057118.png" /></a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Books" asp-action="Index">Privacy</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-white px-lg-3 px-1" asp-area="" asp-controller="Books" asp-action="CartList"><img style="width:27px;height:27px;" src="https://cdn-icons-png.flaticon.com/512/8181/8181590.png" /></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white px-lg-2 px-1" asp-area="" asp-controller="Role" asp-action="Index"><img style="width:28px;height:28px;" src="https://cdn-icons-png.flaticon.com/512/7883/7883141.png" /></a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white">
        <div class="container text-center">
            &copy; 2022 - BookSellingApp <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white-50">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
